  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

  /* GLobal */

  *{
    font-family:'Poppins',sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1, h2,h3,p{
    text-align: center;
}

.box{
    padding:40px;
    background-color:aliceblue;
    width:100%;


}
/* Navigation bar*/

#nav-bar{
    list-style-type: none;
    text-align: center;
    width:100%;
    background-color: cyan;
    
    position:fixed;
    top:0px;
    

}

#nav-bar li{
    display:inline-block;
    padding: 20px;
    margin:0;

}

#nav-bar li:hover{
    background-color: rgb(0, 213, 255);
    transition: ease-in-out;
    transition-duration: .25s;
    color: white;

}

#nav-bar li a{
    text-decoration: none;

}

/* Profile container */

.profile{
margin-top: 110px;

}
.profile-box-two{
    height: auto;
    background-color:aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-1 img{
    width: 100%;

}

.profile-2{
    border-left:2px dotted black;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid black;
    border-radius: 2%;


}
.profile-boxx{
    padding:2%;
    width: 400px;
    height:auto;
}
/* Skills container */

#skills{
    padding-top: 50px;
    padding-bottom: 50px;
}

#skills h2{
    padding-bottom: 10px;
}
.skills-icons{
    margin: 20px 5px 20 0;
    max-width: 170px;
    min-width:170px;
    background-color: white;
}

/* Hobbies container */
#four-hobby {
    height: auto;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobby-box{
    height:350px;
    max-width: 25%;
    min-width:250px;
    padding-top:2px;
    padding-bottom: 2px;
}

.hobby-box img{
    width: 150px;
}

/* Education */
#education{
    margin-top:40px;
}

/*Contact Me*/
.three-part{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-evenly;
    width:100%;
}

.part-1{
    padding:2%;
    width:500px;
    min-width: auto;
}
.part-1 iframe{
    width: 100%;
}


.part-2 form{
    padding:25px;
    
}
.form input, textarea{
    width:100%;
    padding:10px;
    font-size:15px;
    resize: none;
    margin-top: 5px;
    margin-bottom: 14px;
    border-radius: 1%;
    border-style: dashed;
}
.form button{
    text-align: center;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 25%;
    margin-right: auto;
    background-color: aqua;
    font-size: 15px;
    border-radius: 6%;
    border: none;
}
.part-3{
    padding-top:4%;
}

.part-3 li{
    list-style-type: none;
}

/* Footer bar*/
.footer{
    margin-bottom: 50px;

}

#nav-bar-footer li a{
    text-align: center;
    text-decoration: none;
        display:block;
        padding: 5px;
        margin:0;
}

/* Social icons*/
.social-icons{
    text-align: center;
    font-size: 50px;
    word-spacing: 50px;
    margin-bottom: 30px;
    margin-top:30px;
}

.social-icons .fa-github{
    color: rgb(0, 0, 0);
}

.social-icons .fa-twitter{
    color:rgb(0, 166, 255)
}

.social-icons .fa-facebook{
    color:blue;
}

.social-icons .fa-linkedin{
    color:rgb(3, 109, 162);
}


/*footer*/
footer{
    padding-bottom: 30px;
    padding-top:30px;
    height: 110px;
    background-color: cyan;
    width: 100%;
}
footer a{
    text-decoration: none;
}

footer a:link{
    color:rgb(98, 0, 255);
}

footer a:visited{
    color:black;
}
