  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

  /* GLobal */

  *{
    font-family:'Poppins',sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1, h2,h3,p{
    text-align: center;
}
a{
    text-decoration: none;
}

.box{
    padding:40px;
    background-color:aliceblue;
    width:100%;


}
/* Navigation bar*/

#nav-bar {
    list-style-type: none;
    text-align: center;
    width: 100%;
    background-color: cyan;
    top: 0;
    margin: 0;
    padding: 0;
  }
  
  #nav-bar li {
    display: inline-block;
    padding: 20px;
    margin: 0;
  }
  #nav-bar li:hover {
    font-weight: bold;
  }
  #nav-bar li a {
    text-decoration: none;
    transition: ease-out 0.05s;
  }
  
  #nav-bar li a:hover {
    border-bottom: 3px solid blue;
  }
  
  

/* Profile container */

  
  .profile-box-two {
    padding-top: 2.3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: aliceblue;
  }
  
  .profile-1, .profile-2 {
    border-radius: 2%;
    margin: 2% 0;
    padding: 2%;
    width: 550px;
    height: auto;
    box-sizing: border-box;
  }
  
  .profile-1 img {
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
  }

  .profile-1 img:hover {
    cursor: pointer;
    border: 5px solid cyan;
    background-size: cover;
    transition: ease-in-out 0.1s;
  }
  .profile-1 button{
    text-align: center;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 25%;
    margin-right: auto;
    background-color: aqua;
    font-size: 15px;
    border-radius: 6%;
    border: none;
  }
  .profile-1 button:hover{
    cursor: pointer;
    background-color: blue;
    transition: ease-in-out 0.2s;
    color: white;
    
  }
  
/* Skills container */

#skills{
    padding-top: 50px;
    padding-bottom: 50px;
}

#skills h2{
    padding-bottom: 10px;
}
.skills-icons{
    margin: 20px 5px 20 0;
    max-width: 170px;
    min-width:170px;
    background-color: white;
}

/* Hobbies container */
#four-hobby {
    height: auto;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.hobby-box{
    height:350px;
    max-width: 25%;
    min-width:250px;
    padding-top:2px;
    padding-bottom: 2px;
}

.hobby-box img{
    width: 150px;
}

/* Education */
#study-two {
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.clg, .school {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clg img, .school img {
  margin-top:2%;
    width: 100%;
    max-width: 380px;
    height: 300px;
    border-radius: 5%;
    margin-bottom: 2%;
}

.clg p, .school p {
    width: 90%;
    margin: 2%;
  margin-bottom:2%;
    text-align: center;
}


/*Contact Me*/
.three-part{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-evenly;
    width:100%;
}

.part-1{
    padding:2%;
    width:500px;
    min-width: auto;
}
.part-1 iframe{
    width: 100%;
}

.part-2{
    width: 500px;
}
.part-2 form{
    padding:25px;
    
}
.form input, textarea{
    width:100%;
    padding:10px;
    font-size:15px;
    resize: none;
    margin-top: 5px;
    margin-bottom: 14px;
    border-radius: 1%;
    border-style: dashed;
}
.form button{
    text-align: center;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 35%;
    background-color: aqua;
    font-size: 15px;
    border-radius: 6%;
    border: none;
}
.form button:hover{
    cursor: pointer;
    background-color: blue;
    transition: ease-in-out 0.2s;
    color: white;
}
.part-3{
    padding-top:4%;
}

.part-3 li{
    list-style-type: none;
}

/* Footer bar*/
.footer{
    margin-bottom: 50px;

}

#nav-bar-footer li a{
    text-align: center;
    text-decoration: none;
        display:block;
        padding: 5px;
        margin:0;
}

/* Social icons*/
.social-icons{
    text-align: center;
    font-size: 50px;
    word-spacing: 50px;
    margin-bottom: 30px;
    margin-top:30px;
}

.social-icons .fa-github{
    color: rgb(0, 0, 0);
}

.social-icons .fa-twitter{
    color:rgb(0, 166, 255)
}

.social-icons .fa-facebook{
    color:blue;
}

.social-icons .fa-linkedin{
    color:rgb(3, 109, 162);
}

.fa-github:hover{
    font-size: 110%;
    border-bottom: 4px solid black;
    transition: ease-out 0.12s;
}
.fa-twitter:hover{
    font-size: 110%;
    border-bottom: 4px solid black;
    transition: ease-out 0.12s;
}
.fa-facebook:hover{
    font-size: 110%;
    border-bottom: 4px solid black;
    transition: ease-out 0.12s;
}
.fa-linkedin:hover{
    font-size: 110%;
    border-bottom: 4px solid black;
    transition: ease-out 0.12s;
}
/*footer*/
footer{
    padding-bottom: 30px;
    padding-top:30px;
    height: auto;
    background-color: cyan;
    width: 100%;
}
footer a{
    text-decoration: none;
}

footer a:link{
    color:rgb(98, 0, 255);
}

footer a:visited{
    color:black;
}
/*Bootom icons for social*/

.social-icons-bot{
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
    margin-bottom: 3%;
    margin-top:30px;
}

.social-icons-bot .fa-github{
    color: rgb(0, 0, 0);
}

.social-icons-bot .fa-twitter{
    color:rgb(0, 166, 255)
}

.social-icons-bot .fa-facebook{
    color:blue;
}

.social-icons-bot .fa-linkedin{
    color:rgb(3, 109, 162);
}
